# --- 忽略 IDE 配置 ---
.vscode/
.idea/

# --- 忽略 var 文件夹及其所有内容 ---
var/

# --- 忽略 testdata 文件夹及其所有内容 ---
testdata/

# --- 忽略 uploads 下所有内容 ---
uploads/**
!uploads/
!uploads/.gitkeep
!uploads/images/
!uploads/images/.gitkeep
!uploads/images001/
!uploads/images001/.gitkeep

# --- 忽略 logs 目录下所有内容 ---
logs/**
!logs/
!logs/.gitkeep

# --- 忽略配置文件 ---
jsconfig.json
settings.yaml